server {
	listen 443 ssl default_server;
	ssl_certificate /var/www/html/server.crt;
	ssl_certificate_key /var/www/html/server.key;

	root /var/www/html/wordpress;
	index index.php index.html index.htm;
	server_name suchida.42.fr localhost;

	# log
	access_log /var/log/nginx/wordpress_access.log;
	error_log /var/log/nginx/wordpress_error.log;

	# security config
	ssl_protocols TLSv1.2 TLSv1.3;

	# redirect
	location ~ \.php$ {
		root	/var/www/html/wordpress;
		index	index.html index.htm index.php;
		fastcgi_split_path_info	^(.+\.php)(/.+)$;
		fastcgi_pass	some-wordpress.srcs_frontend:9000;
		fastcgi_index	index.php;
		fastcgi_param	SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include	fastcgi_params;
		
		}

	#location / {
	#	autoindex {{ var "AUTOINDEX" | default "on" }};
	#	}


}


